<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}Censearch{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="/censearch/search-home">Home</a>
          </li>
        </ul>
        <ul>
          <li>
            <h3>ACS Variable Search</h3>
          </li>
        </ul>
        <ul>
            <li><a href="/">Help</a></li>
        </ul>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>

